<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314829403235-oc696o2uf70q9cq0tt2cb28caq15oakd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314829403235-oc696o2uf70q9cq0tt2cb28caq15oakd</string>
	<key>API_KEY</key>
	<string>AIzaSyAlND1RXYG4cqeh4Q8fKGjbFSQEABEm3kE</string>
	<key>GCM_SENDER_ID</key>
	<string>314829403235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.caape.ios</string>
	<key>PROJECT_ID</key>
	<string>caape-7f19b</string>
	<key>STORAGE_BUCKET</key>
	<string>caape-7f19b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314829403235:ios:20f3054b0a5f4f5c193456</string>
	<key>DATABASE_URL</key>
	<string>https://caape-7f19b.firebaseio.com</string>
</dict>
</plist>